@using PCMarket.Models.ViewModels.Identity
@using Microsoft.Owin.Security
@model ExternalLoginListViewModel

<h4>Use another service to log in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (!loginProviders.Any())
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (var providers in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" id="@providers.AuthenticationType" name="provider" value="@providers.AuthenticationType" title="Log in using your @providers.Caption account">@providers.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}