@using PCMarket.Models.ViewModels.News
@model IEnumerable<SoftwareNewViewModel>
@{
    ViewBag.Title = "Software News";
}

<div class="col-md-8" id="page-title">
    <h2>Software News</h2>
</div>
@if (this.User.IsInRole("Admin"))
{
    <div class="col-md-4" id="create-btn">
        <a href="@Url.Action("AddSoftwareNew", "Admin")" role="button" class="btn btn-default">Create a hardware new</a>
    </div>
}

<table class="table table-responsive">
    <tr>
        <th>Title</th>
        <th>Subject</th>
        <th>ContentContentBody</th>
        <th>Full content</th>
        @if (this.User.IsInRole("Admin"))
        {
            <th>Edit</th>
            <th>Delete</th>
        }
    </tr>
    @foreach (var softNew in Model)
    {
        <tr>
            <td>@string.Join(string.Empty, softNew.Title.Take(30))...</td>
            <td>@softNew.Subject</td>
            <td>@string.Join(string.Empty, softNew.ContentBody.Take(30))...</td>
            <td><a href="@Url.Action("SoftwareNewsById", "News", new { id = softNew.Id })" class="btn btn-default" role="button">Read More</a></td>
            @if (this.User.IsInRole("Admin"))
            {
                <td>
                    @using (Html.BeginForm("EditSoftwareNew", "Admin", new { id = softNew.Id }, FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
                    {
                        <input type="submit" class="btn btn-default" role="button" name="@softNew.Id" value="Edit" />
                    }
                </td>
                <td>
                    @using(Html.BeginForm("DeleteSoftwareNew", "Admin", new { id = softNew.Id }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <input type="submit" class="btn btn-default" role="button" name="@softNew.Id" value="Delete" />
                    }
                </td>
            }
        </tr>
    }
</table>