@using PCMarket.Models.ViewModels.StorageDevices
@model IEnumerable<HardDriveViewModels>

@{
    ViewBag.Title = "Hard Drives";
}

<h2>Hard Drives</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Series)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Series)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Speed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
    </tr>
}
</table>