@using PCMarket.Models.ViewModels.Cores
@model IEnumerable<VideoCardViewModel>

@{
    ViewBag.Title = "Video Cards";
}

<h2>Video Cards</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GpuArchitecture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GpuSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GpuClockSpeedCore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfShaders)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GpuClockSpeedShader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.GpuArchitecture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GpuSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GpuClockSpeedCore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfShaders)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GpuClockSpeedShader)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
    </tr>
}

</table>
