<nav class="navbar navbar-default navbar-static-top affix-top" data-spy="affix" data-offset-top="400">
    <div class="container">
        <div class="navbar-header">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">Pc Market</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                <a href="@Url.Action("Index", "Home")" class="dropdown-toggle" data-toggle="dropdown">News
                    <span class="caret"></span>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Software", "News")">Software News</a></li>
                        <li><a href="@Url.Action("Hardware", "News")">Hardware News</a></li>
                        <li><a href="@Url.Action("AddSoftwareNew", "Admin")">Add Software News</a></li>
                        <li><a href="@Url.Action("AddHardwareNew", "Admin")">Add Hardware News</a></li>
                    </ul>
                </a>
                </li>
                <li class="dropdown">
                    <a href="@Url.Action("Index", "Home")" class="dropdown-toggle" data-toggle="dropdown">
                        Categories
                        <span class="caret"></span>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Home")">Category 1</a></li>
                            <li><a href="@Url.Action("Index", "Home")">Category 2</a></li>
                            <li><a href="@Url.Action("Index", "Home")">Category 3</a></li>
                        </ul>
                    </a>
                </li>
                <li><a href="@Url.Action("About", "Home")">About</a></li>
                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>
