<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pc Market</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/theme")
    @Styles.Render("~/Content/custom")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/navbarAffix")
</head>