<nav class="navbar navbar-default" id="navbar" data-spy="affix" data-offset-top="200">
    <div class="container" id="nav-container">
        <div class="navbar-header">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand navbartabs-brand">Pc Market</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="@Url.Action("Index", "Home")" class="dropdown-toggle navbartabs" data-toggle="dropdown">News</a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Software", "News")">Software News</a></li>
                        <li><a href="@Url.Action("Hardware", "News")">Hardware News</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="@Url.Action("Index", "Home")" class="dropdown-toggle navbartabs" data-toggle="dropdown">Components</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown dropdown-submenu">
                            <a href="@Url.Action("Index", "Home")" class="dropdown-toggle navbartabs" data-toggle="dropdown">Core Components</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Processors", "Component")">Processors</a></li>
                                <li><a href="@Url.Action("Motherboards", "Component")">Motherboards</a></li>
                                <li><a href="@Url.Action("VideoCards", "Component")">Video Cards</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu">
                            <a href="@Url.Action("Index", "Home")" class="dropdown-toggle navbartabs" data-toggle="dropdown">Storage Devices</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("BackupDevices", "Component")">Backup Devices</a></li>
                                <li><a href="@Url.Action("HardDrives", "Component")">Hard Drives</a></li>
                                <li><a href="@Url.Action("SolidStateDrives", "Component")">Solid State Drives</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="@Url.Action("Index", "Home")" class="navbartabs">About</a></li>
                <li><a href="@Url.Action("Index", "Home")" class="navbartabs">Contact</a></li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>